In [3]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("chat_history.db")

# Read the messages table into a DataFrame
df = pd.read_sql_query("SELECT * FROM messages", conn)

# Close connection
conn.close()

In [4]:
# Display the first few rows
df.head()

,id,user_id,user_name,channel_id,role,message,timestamp
0,1,U093E4CPEE4,Amr Tamer,D093TU811DZ,user,Hi,2025-07-08T09:42:09.459845
1,2,U093E4CPEE4,Amr Tamer,D093TU811DZ,assistant,Hello Amr! ðŸ‘‹ How can I assist you today?,2025-07-08T09:42:11.494012
2,3,U093E4CPEE4,Amr Tamer,D093TU811DZ,user,Who are you?,2025-07-08T09:42:25.282967
3,4,U093E4CPEE4,Amr Tamer,D093TU811DZ,assistant,"Hello Amr, \nI am the MMG (Multi Media Group)...",2025-07-08T09:42:27.434016